<div class="jumbotron">
  <h1 class="display-4">XOXO, Gossip Girl here</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p>You're one and only source into the scandalous life of Manhattan's elite.</p>
  <p class="lead">
    <a class="btn btn-outline-success btn-lg" href="<%= new_gossip_path %>" role="button">Post a gossip</a>
  </p>
</div>

<div class= row style= "display: flex; flex-flow: row wrap; justify-content: space-around">
    <% @gossips.each do |gossip| %>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://media1.giphy.com/media/QvsBVRrsSvzKE/source.gif" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= gossip.title %></h5>
    <p class="card-text"><%= gossip.user.first_name %></p>
    <a href="<%= gossip_path(gossip.id) %>" class="btn btn-outline-primary btn-sm">More</a>
    <a href="<%= edit_gossip_path(gossip.id) %>" class="btn btn-outline-success btn-sm">Edit</a>
    <a href="<%= gossip_path(gossip.id) %>" class="btn btn-outline-danger btn-sm" data-confirm="Really?" data-method="delete" >Delete</a>
  </div>
</div>
<% end %>
</div>
</div>

