<div class= row style= "display: flex; flex-flow: row wrap; justify-content: space-around">

<%= form_tag url_for(action: 'create'), method: "post" do %>
<img class="img-thumbnail" src="https://i.pinimg.com/originals/b7/a1/40/b7a1406b585e083dda35f044674c7d71.jpg" alt="Card image cap">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class='form-group'>
          <%= label_tag 'Name of your gossip' %></br>
          <%= text_field_tag 'title', @gossip.title, class: "form-control" %></br></br>
    </div>

    <div class='form-group'>
          <%= label_tag 'Juicy Content' %></br>
          <%= text_area_tag 'content', @gossip.content, class: "form-control" %></br></br>
    </div>

    <div class='form-group'>
        <button type="submit" class="btn btn-primary">Create gossip</button>
    </div>
    

<% end %>
